@import 'src/styles/variables';

.tagItem {
    display: grid;
    cursor: pointer;
    grid-template-columns: 30px auto auto;
    padding: 8px 16px 8px 8px;
    background-color: $sep-grey;
    border-radius: $border-radius;
    align-items: center;
    gap: 10px;
    font: 14px/normal $font-primary;
    border: 1px solid $border-grey;
    transition: background-color 0.1s ease-in-out;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        padding: 8px;
        font-size: 12px;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 30px;
        width: 30px;
        height: 30px;

        svg {
            width: 35px;
            height: 35px;
            @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
                width: 30px;
                height: 30px;
            }
        }
    }

    svg {
        justify-self: end;
        width: 20px;
        @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
            width: 15px;
        }
    }

    &:hover {
        background-color: $border-grey;
    }

    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {

    }
}