@import 'src/styles/variables';

.listingContainer {
    position: relative;
    width: 100%;
    padding: calc($default-unit * 2) 0;
    margin: 0;
    box-sizing: border-box;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        padding: $default-unit 0;
    }
}

.listingItem {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto auto auto;
    color: $theme-grey;
    padding:  calc($default-unit * 3) 0;
    grid-column-gap: calc($default-unit * 3);
    border-bottom: 1px solid $medium-pale-grey;

    &:last-child {
        border-bottom: none;
    }

    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        grid-template-columns: 90px auto;
        grid-column-gap: calc($default-unit * 3);
        grid-row-gap: calc($default-unit);
    }
}

.thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    grid-row: 1 / last-line;
    grid-column: 1 / span 1;
    align-self: start;

    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        width: 103px;
        height: 103px;
    }
}

.title {
    grid-row: 1 /span 1;
    grid-column: 2 / span 2;

    h1 {
        display: inline;
        white-space: pre-wrap;
        padding: 0 10px 0 0;
        margin: 0;
        font: 22px /normal $font-primary-medium;
        transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        box-shadow: -10px 0 0 rgba(0,0,0,0);
        @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
            font: 19px /normal $font-primary-medium;
        }
    }

    &.skeleton {
        width: 80%;
        height: 30px;
    }
}

.date {
    grid-column: 4/span 2;
    margin: 0;
    font: 16px /normal $font-primary;
    font-weight: bold;
    align-self: start;
    justify-self: end;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        justify-self: start;
        grid-row: 2 /span 1;
        grid-column: 2/span 2;
        font: 15px /normal $font-primary;
    }

    &.skeleton {
        width: 20%;
        max-width: 150px;
        min-width: 80px;
        height: 30px;
    }
}


.overview {
    grid-row: span 1;
    grid-column: 2 / span 4;
    font: 16px /normal $font;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        font: 14px /normal $font;
    }
    p {
        @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
            margin: 0;
        }
    }

    &.skeleton {
        width: 100%;
        height: 60px;
    }
}

.vote_average {
    display: flex;
    gap: 5px;
    align-items: center;
    grid-row: 2 /span 1;
    grid-column: 2 / span 1;
    font: 16px /normal $font-primary-medium;
    margin: 5px 0;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        grid-row: 3 /span 1;
        margin: 0;
    }

    svg {
        width: 15px;
        height: 15px;
        fill: $theme-yellow;
    }

    &.skeleton {
        width: 10%;
        min-width: 20px;
        height: 20px;
    }
}

.popularity {
    font: 15px /normal $font-primary;
    span {
        font: 15px /normal $font-primary-medium;
    }

    &.skeleton {
        width: 20%;
        min-width: 80px;
        height: 20px;
        margin-top: 5px;
    }
}


.skeleton {
    animation: skeleton-loading 2s linear infinite 0.5s;
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0, 88%);
    }
    50% {
        background-color: hsl(0, 10%, 98%);
    }
    100% {
        background-color: hsl(0, 0, 88%);
    }
}

.threeLists {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    .vote_average {
        transform: translate3d(0, 60%, 0);
        animation:  ani-content 0.3s ease-in-out 0.1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .title {
        transform: translate3d(0, 60%, 0);
        animation:  ani-content 0.4s ease-in-out 0.2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .date {
        align-self: center;
        transform: translate3d(0, 60%, 0);
        animation:  ani-content 0.3s ease-in-out 0.3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .overview {
        transform: translate3d(0, 60%, 0);
        animation:  ani-content 0.5s ease-in-out 0.3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}



@keyframes ani-content {
    0% {
        opacity: 0;
        transform: translate3d(0, 60%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}