@import 'src/styles/variables';

.pagination {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  list-style: none;
}

.page {
  font-size: 16px !important;
  color: $medium-grey;
  padding: 5px 0 !important;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.pageActive {
  position: relative !important;
  font-size: 16px !important;
  pointer-events: none;
  color: $theme-grey !important;

  &:after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    content: "";
    width: 11px;
    height: 3px;
    background-color: $theme-grey;
  }
}

.previous {
  display: flex;
  height: 19px;
  width: 19px;
  cursor: pointer;
  margin: 2px 10px 0 0;


  svg {
    display: inline-block;
    fill: none;
    height: 19px;
    width: 19px;
    stroke: black;
    stroke-width: 3;
    overflow: visible;
    vertical-align: middle;
  }
}

.next {
  display: flex;
  height: 19px;
  width: 19px;
  cursor: pointer;
  margin: 2px 0 0 10px;

  svg {
    display: inline-block;
    transform: scaleX(-1);
    fill: none;
    height: 19px;
    width: 19px;
    stroke: black;
    stroke-width: 3;
    overflow: visible;
    vertical-align: middle;
  }
}

.disabled {
  pointer-events: none;
  svg {
    stroke: $sep-grey !important;
  }
}
