@import 'src/styles/variables';

.searchBarContainer {
    position: relative;
    width: 100%;
}

.searchBar {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 8px 16px;
    border-radius: $border-radius;
    color: $theme-grey;
    box-sizing: border-box;
    border: 1px solid $medium-pale-grey;
    background-color: white;
    transition: background-color 0.3s linear, box-shadow 0.2s linear;
    -webkit-transition: background-color 0.3s linear, box-shadow 0.2s linear;
    -moz-transition: background-color 0.3s linear, box-shadow 0.2s linear;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        margin: 5px auto;
        padding: 6px 16px;
    }
    &:focus-within {
        box-shadow: 0 0 4px 3px $border-grey;
    }
}

.inputBox {
    display: flex;
    align-items: center;

    i {
        display: flex;
    }

    .searchIcon svg {
        transform: scale(1.3);
        .header & {
            transform: scale(0.9);
        }
    }

    input {
        display: inline-block;
        flex: 1;
        width: 100%;
        height: 35px;
        padding: 0 20px 0 8px;
        font: 17px/normal $font-primary;
        border: none;
        background-color: transparent;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: $medium-grey;
        }
        &::-moz-placeholder {
            color: $medium-grey;
        }
        &:-ms-input-placeholder {
            color: $medium-grey;
        }
        &:-moz-placeholder {
            color: $medium-grey;
        }

    }
    svg {
        > * {
            stroke: $deep-grey;
        }
    }
}

.dropdown {
    position: absolute;
    width: 100%;
    max-height: 30vh;
    top: 70px;
    margin: 0;
    padding: 10px 0;
    background: white;
    box-sizing: border-box;
    list-style: none;
    border-radius: $border-radius;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 4px 1px $medium-pale-grey;
    z-index: 100;

    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        top: 65px;
    }

    li {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        cursor: pointer;
        color: black;
        border-bottom: 1px solid $border-grey;
        gap: 15px;
        font: 15px/normal $font-primary;

        @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
            padding: 8px 20px;
            font-size: 14px
        }

        &:hover {
            background-color: $pale-grey;
        }

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 35px;
                height: 35px;
                @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
                    width: 28px;
                    height: 28px;
                }
            }
        }

    }

    li:first-child {
        border-top: none;
    }

    li:last-child,
    {
        border-bottom: none;
    }
}

li.optionDisabled {
    background-color: $pale-grey;
    cursor: initial;
    color: $theme-medium-grey;

    .image {
        background-color: $medium-pale-grey;
        background-blend-mode: overlay;
    }
}

li.warningMessage {
    cursor: initial;
    padding: 10px 20px 20px;
    column-gap: 6px;
    &:hover {
        background-color: white;
    }
    svg {
        fill: $theme-orange;
        width: 25px;
        height: 25px;
        @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
            width: 20px;
            height: 20px;
        }
    }
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        font-size: 13px;
        padding: 0 20px 10px;
    }
}

.image {
    position: relative;
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 30px;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        width: 30px;
        height: 30px;
    }
}

.tags {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    margin: 20px 0 0;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        column-gap: 10px;
        margin: 10px 0 0;
    }
}

.errorMessage {
    grid-column: 2 / span 1;
}

