@import 'src/styles/variables';

.sortByContainer {
  position: relative;
  justify-self: right;
  align-self: end;
  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    justify-self: left;
    align-self: end;
  }
}

.sortByButton {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  border: 1px solid $medium-pale-grey !important;
  border-radius: $border-radius !important;
  align-items: center;
  width: 200px;
  height: 48px;
  box-sizing: border-box !important;
  text-align: left;
  cursor: pointer;

  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    width: 150px;
    height: 40px;
  }

  &:hover {
    border: 1px solid $medium-pale-grey !important;
  }

  input {
    cursor: pointer;
    background: transparent;
    border: none;
    height:100%;
    padding: calc($default-unit) 0 calc($default-unit) calc($default-unit * 1.5);
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      padding: calc($default-unit * 0.5) calc($default-unit * 0.2);
    }
  }

  span {
    font: 16px/normal $font-primary;
    padding: 0 $default-unit;
    flex: 1;
    color: black;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      font: 15px/normal $font-primary;
      padding: 0;
    }
  }

  i {
    width: 20px;
    height: 20px;
    transform: rotateZ(-90deg);
  }
}

.sortByButtonActive {
  background-color: white;
  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    background-color: transparent;
  }
  i {
    transform: rotateZ(90deg);
  }
}

.sortByOption {
  position: absolute;
  top: 60px;
  left: 0;
  width: 200px;
  background: white;
  z-index: 102;
  box-shadow: 0 0 2px 1px $border-grey;
  border-radius: $border-radius;
  transform: translate3d(0,-10%,0);
  animation:  show-sortBy-slide-down 0.1s ease-in-out;
  animation-fill-mode: forwards;

  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    left: 0;
    box-shadow: 0 -2px 3px -1px $medium-grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translate3d(0,100%,0);
    animation:  show-sortBy-slide 0.2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: calc($default-unit * 2);
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      border-bottom: 1px solid #e4e4e4;
      padding: calc($default-unit * 2.5) calc($default-unit * 3);
    }

    &:last-child {
      @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        border-bottom: none;
      }
    }

    &:hover {
      background-color: $theme-pale-grey;
    }

    span {
      font: 16px/normal $font-primary;
      flex: 1;
      @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
        font: 16px/normal $font-primary;
      }
    }

    i {
      width: 20px;
      height: 20px;
      fill: $medium-grey;
    }
  }
}

.title {
  display: none;
  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    padding: 12px 24px;
    align-items: center;
    font: 18px/normal $font-primary-medium;

  }
  i {
    display: block;
    width: 25px;
    height: 25px;
  }
}


@keyframes show-sortBy-slide {
  0%   {  transform: translate3d(0,100%,0)}
  100%   { transform: translate3d(0,0,0)}
}

@keyframes show-sortBy-slide-down {
  0%   {  transform: translate3d(0,-10%,0)}
  100%   { transform: translate3d(0,0,0)}
}
