@import "fonts";
@import 'variables';
@import 'layout';
@import 'header';
@import 'main';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

input,
select,
a,
textarea,
button {
  font-size: 16px;
  text-decoration: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

button,
input {
  @media screen and (min-width: 0) and (max-width: 1024px) {
    border-radius: 0;
  }
  &:focus {
    outline: 0;
  }
}

a {
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
}

