@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('./../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('./../fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('./../fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans-Light';
    src: url('./../fonts/NotoSans-Light.ttf') format('truetype');
}