.header {
  position: relative;
  width: 100%;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $medium-pale-grey;
  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    padding: 12px 0;
  }

  .panel {
    display: flex;
  }

  img {
    height: 49px;
    width: 81px;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      height: 24.5px;
      width: 40px;
    }
  }
}