.panel {
  position: relative;
  max-width: $panel_max_width;
  height: 100%;
  margin: 0 auto;
  //background-color: white;
  @media screen and (min-width: 769px) {
  }

  @media screen and (min-width: 0) and (max-width: 768px) {
    max-width: 100%;
  }
}

.container-fluid {
  padding-left: calc($default-unit * 3);
  padding-right: calc($default-unit * 3);

  @media screen and (min-width: $tablet-max-width) and (max-width: $large-desktop-max-width - 1) {
  }

  @media screen and (min-width: $mobile-max-width) and (max-width: $tablet-max-width - 1) {
    padding-left: calc($default-unit * 3);
    padding-right: calc($default-unit * 3);
  }

  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
  }
}
