.main {
  width: 100%;
}

.content-top {
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1002;

  h1 {
    padding: 0;
    margin: 0;
    font: 38px/normal $font-light;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      font: 28px/normal $font-light;
    }
  }

  p {
    font: 16px/normal $font-primary;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      font: 14px/normal $font-primary;
      margin: 8px 0;
    }
  }

  .wrapper {
    border-bottom: 1px solid $border-grey;
    padding: 30px 0;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      padding: 12px 0;
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: minmax(30%, 500px) auto 210px;

    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      grid-template-columns: auto;
      row-gap: 10px;
    }
  }
}

.no-result {
  display: flex;
  padding: 40px 0;
  width: 100%;
  border-radius: 40px;
  font: 16px/normal $font-primary;
  align-items: center;
  column-gap: 6px;

  svg {
    width: 25px;
    height: 25px;
    fill: $theme-orange;
  }
}

.content-three {
  height: 700px;
  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    min-height: 500px;
  }
  canvas {
    width: 100%;
    height: 450px;
    @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
      height: 300px !important;
    }
  }
}

.switch-view-button {
  display: flex;
  justify-self: right;
  align-self: end;
  height: 48px;
  border: 1px solid #cdcdcd !important;
  border-radius: 10px !important;
  align-items: center;
  box-sizing: border-box !important;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font: 16px/22px $font-primary-medium;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: $pale-grey
  }

  svg {
    fill: $theme-deep-grey;
    width: 40px;
  }

  @media screen and (min-width: 0) and (max-width: $mobile-max-width - 1) {
    display: none;
  }
}

