$panel_max_width: 1280px;

//breakpoints
$extra_large-desktop-max-width: 2560px;
$large_desktop-max-width: 1920px;
$desktop-max-width: 1440px;
$tablet-max-width: 1280px;
$tablet-horizontal-width: 1024px;
$mobile-max-width: 768px;
$smallest-mobile-width: 320px;

//font
$font-primary: 'Ubuntu-Regular';
$font-primary-medium: 'Ubuntu-Medium';
$font: 'NotoSans-Regular';
$font-light: 'NotoSans-Light';

//layout
$default-unit: 8px;
$border-radius: 10px;

//colours
$brand-primary-hover: #a5613f;
$footer-brown: #634f44;
$brand-primary-dark-shadow: #823558;
$brand-secondary: #0d8e5c;
$brand-secondary-bright: #639786;
$error-red: #ff5656;

$theme-pale-blue: #C9D6DF;
$theme-deep-grey: #1E2022;
$theme-deep-blue: #52616B;

$header-grey: #3e3e3e;
$theme-pale-grey: #F0F5F9;
$theme-medium-grey: #a0a0a0;
$border-grey: #e6e8eb;
$pale-grey: #fafafa;
$sep-grey: #f3f3f3;
$deep-grey: #282828;
$medium-grey: #a0a0a0;
$placeholder-grey: #676767;
$medium-pale-grey: #cdcdcd;
$theme-grey: #252422;

$theme-dark-green: #264653;
$theme-green: #2a9d8f;
$theme-yellow: #e9c46a;
$theme-amber: #de845b;
$theme-amber-bright: #d5966c;
$theme-orange: #e76f51;
$theme-orange-bright: #ce4c2b;
